<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    {% comment %}<script src="main.js"></script> {% endcomment %}
    <title>Study Room</title>
</head>
<nav>
    {% include 'navbar.html' %}
    <hr />
</nav>
<body>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>