 <div class="nav-container">
    <div>
    <a href="/">
        <h1> Logo </h1>
    </a>
    </div>
    <div class="main-search">
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search rooms..." /> 
            {% comment %} user needs to hit enter (type text) and name q is to add q (query search)  {% endcomment %}
        </form>
    </div>
    <div>
    {% if request.user.is_authenticated %}
    <p>Hello {{ request.user }}
    <a href="{% url 'logout' %}">Log out</a>
    {% else %}
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}
    </div>
</div>