@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
// sass main.scss main.css

$main-color: #74EBD5;
$secondary-color: #ACB6E5;
$link-color: #5200FF;
$text-color: #252525;

// Main styles
body {
    background: linear-gradient(142deg, rgba(116,235,213,1) 0%, rgba(172,182,229,1) 100%);
    min-height: 100vh;

    h1 {
        font-family: 'Quicksand', sans-serif;
        color:$main-color;
        font-size: 28px;
    }
    a {
        color: $link-color;
        font-size: 16px;
    }
    p, span, small {
        font-family: 'Quicksand', sans-serif;
        color: $text-color;
        font-size: 16px;
    }
}

.subtitle {
    color: white;
    font-size: 22px;
}

// .main-container {
//     display: grid;
//     grid-template-columns: 1fr 3fr 1fr;
// }

.navbar {
    background-color: white;
    -webkit-box-shadow: 2px 7px 31px -3px rgb(65, 2, 159, 0.2);
    -moz-box-shadow: 2px 7px 31px -3px rgba(65, 2, 159,0.2);
    box-shadow: 2px 7px 31px -3px rgba(65, 2, 159,0.2);
}